<div class="card mb-2">
  <div class="card-link text-end">
    <%= render 'link', post: post %>
  </div>
  <h1 class="card-text ms-1 mb-1">
    <%= link_to post.content, post, class: "text-decoration-none text-dark" %>
  </h1>
</div>
