<a href="/" class="navbar-brand text-center">
  <span class="bi bi-circle-fill display-6 color-theme align-middle"></span>
  <span class="bi bi-circle-fill display-6 color-theme-light align-middle"></span>
  <span class="color-brand align-middle">PostooCommentoo</span>
</a>