<a href="/" class="navbar-brand text-center">
  <span class="bi bi-circle-fill display-6 color-theme"></span>
  <span class="bi bi-circle-fill display-6 color-theme-light"></span>
  <span class="color-brand">PostooCommentoo</span>
</a>